/*html {
  background-color: pink;
}*/

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: auto;
}

nav {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #000;
}

main > img {
  width: 1000px;
  display: block;
  margin: auto;
}

li > a > img {
  width: 260px;
}

ul > li:first-of-type {
  position: fixed;
  top: 8rem;
  left: 8rem;
}

ul > li:nth-child(2) {
  position: fixed;
  bottom: 13rem;
  right: 13rem;
}

ul > li:last-of-type {
  position: fixed;
  top: 8rem;
  right: 8rem;
}
