html {
  background-color: rgb(255, 239, 213);
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  padding: 1.3rem 1.3rem;
}

nav {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #000;
}

main > img {
  width: 1000px;
  display: block;
  margin: auto;
  padding: 2.5rem 2.5rem;
}

li > a > img {
  width: 260px;
}

ul > li:first-of-type {
  position: fixed;
  top: 3.5rem;
  left: 0.7rem;
}

ul > li:nth-child(2) {
  position: fixed;
  bottom: 2rem;
  right: 0.2rem;
}

ul > li:last-of-type {
  position: fixed;
  top: 12rem;
  right: 8rem;
}
