h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: auto;
}

nav {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #000;
}

main > img {
  width: 1000px;
  display: block;
  margin: auto;
}
